<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description">
  <title>FilmBase/Sign_In</title>
</head>
<body style="background-color: black; color: gold">

<div style="text-align: center"><img src="C:\Users\dawid\OneDrive\Desktop\zajecia\Programowanie 8semestr 2020r\django\FilmBase\FilmTape.png" alt="Grafika nie może zostać wyświetlona"></div>

<b><span style="font-size: xx-large; font-family: 'Courier New'"><p style="text-align: center">
  Zarejestruj się :)
</p></span></b>

</body>
</html>
