<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="Strona jest bazą filmów, na której możesz zapisywać obejżane filmy oraz je oceniać. :)">
  <title>FilmBase</title>
</head>
<body style="background-color: black; color: gold">

<div style="text-align: center"><img src="C:\Users\dawid\OneDrive\Desktop\zajecia\Programowanie 8semestr 2020r\django\FilmBase\FilmTape.png" alt="Grafika nie może zostać wyświetlona"></div>

<b><span style="font-size: xx-large; font-family: 'Courier New'"><p style="text-align: center">
  Strona jest bazą filmów na której możesz tworzyć listy filmów obejżanych jak i filmów do obejżenia. Możesz również obejżanym filmom wystawiać oceny oraz komentarze. :)
</p></span></b>

<div style="text-align: center"><a href="C:\Users\dawid\OneDrive\Desktop\FilmBase-Log_In.html"><img src="C:\Users\dawid\OneDrive\Desktop\zajecia\Programowanie 8semestr 2020r\django\FilmBase\Log_in.png" alt="Błąd grafiki" style="border: 0"></a></div>
<div style="text-align: center"><a href="C:\Users\dawid\OneDrive\Desktop\FilmBase-Sign_In.html"><img src="C:\Users\dawid\OneDrive\Desktop\zajecia\Programowanie 8semestr 2020r\django\FilmBase\Sign_in.png" alt="Błąd grafiki" style="border: 0"></a></div>

</body>
</html>
