<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="Strona jest bazą filmów, na której możesz zapisywać obejżane filmy oraz je oceniać. :)">
  <title>FilmBase</title>
</head>
<body style="background-color: black; color: gold">

{% load static %}
<div style="text-align: center"><img src="{% static 'addfilms/FilmTape.png' %}" alt="Grafika nie może zostać wyświetlona"></div>

<b><span style="font-size: xx-large; font-family: 'Courier New'"><p style="text-align: center">
  Baza filmów urzytkownika :)
</p></span></b>

<div style="text-align: center"><a href="http://127.0.0.1:8000/addfilms/cokolwiek_xD"><img src="{% static 'addfilms/dodaj_film.png' %}" alt="Błąd grafiki" style="border: 0"></a></div>

<b><span style="font-size: xx-large; font-family: 'Courier New'"><p style="text-align: center">
  Filmy urzytkownika :
</p></span></b>
{% if user_last_films %}
  <ul>
  {% for film in user_last_films %}
    <li><center>{{film.title}},{{film.year}}</center></li>
  {% endfor %}
  </ul>
{% else %}
  <p> No addfilms are avalaible. </p>
{% endif %}

</body>
</html>
